* {
  margin: 0;
  padding: 0;
 align-items: center;
background-color: rgb(29, 25, 31);
 color:beige;
}

.icon {
  font-size: 4rem;
}

.container {
  background-color: rgb(29, 25, 31);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 2rem;
  padding: 1rem;
  gap: 0.7rem;
  max-width: 400px;
  margin: auto;  
  position: relative; 
}

header{
  position: fixed;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  top: 0;
  padding: 0.3rem;
  padding-top: 1.3rem;
  width: 90%;
  background-color: rgb(29, 25, 31);      
        
}

h1 {
  font-size: 2rem;
  line-height: 1.6rem;
  padding: 0 2rem;
}

.form {
  background-color: blueviolet;
  width: 99%;
  max-width: 350px;
  margin: auto;
 
}

textarea{
  width: 90%;
  padding: 0.3rem;
  border-radius: 0.3rem;
  color: rgb(29, 25, 31);
  background-color: beige;
  margin-bottom: 0.4rem;
}

button{
  width: 5rem;
  padding: 0.2rem 0.8rem;
  border-radius: 0.3rem;
  border: 0;
  color: rgb(29, 25, 31);
  background-color: beige;
  margin-bottom: 0.5rem;
  cursor: pointer;
  
}


p{
  font-size: x-small;
  color: rgb(216, 100, 100);
}

ul{
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: blueviolet;
  max-width: 350px;
  scroll-behavior: smooth;
  margin-top: 12.7rem;
  
}





li{
  display: flex;
  justify-content: center;
  background-color: rgb(49, 42, 53);
  list-style: none;
  padding: 0.3rem;
  width: 90%;
  border-radius: 0.3rem;
  margin-bottom: 0.2rem;  
  word-break: break-all;
  min-height: 2rem;  
}
